@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #fff;
	font-size: 14px;
	line-height: 1.2;
}

body {
	max-width: 750px;
	margin: 0 auto;
}

* {
	box-sizing: border-box;
}

#toast-content {
	position: fixed;
	left: 50%;
	top: 30%;
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	padding: 12px;
	border-radius: 8px;
	font-size: 14px;
	line-height: 22px;
	transform: translate(-50%, -50%);
	min-width: 100px;
	max-height: 500px;
	max-width: 500px;
	overflow-y: auto;
	text-align: center;
	z-index: 10000;

	>img {
		width: 48px;
		height: 48px;
		margin: 0 auto 4px;
		display: block;
	}
}


.flex {
	display: flex;

	&.flex-col {
		flex-direction: column;
	}

	&.flex-justify-start {
		justify-content: flex-start;
	}

	&.flex-justify-between {
		justify-content: space-between;
	}

	&.flex-justify-around {
		justify-content: space-around;
	}

	&.flex-justify-center {
		justify-content: center;
	}

	&.flex-justify-end {
		justify-content: flex-end;
	}

	&.flex-items-start {
		align-items: flex-start;
	}

	&.flex-items-stretch {
		align-items: stretch;
	}

	&.flex-items-baseline {
		align-items: baseline;
	}

	&.flex-items-center {
		align-items: center;
	}

	&.flex-items-end {
		align-items: flex-end;
	}

	&.flex-wrape {
		flex-wrap: wrap;
	}

	&.flex-center {
		justify-content: center;
		align-items: center;
	}

	.flex-1 {
		flex: 1;
	}

	.flex-shrink-0 {
		flex-shrink: 0;
	}
}

.tac {
	text-align: center;
}

.tal {
	text-align: left;
}

.tar {
	text-align: right;
}

.por {
	position: relative;
}

.poa {
	position: absolute;
}

.pof {
	position: fixed;
}

.pos {
	position: sticky;
}

.fw-bold {
	font-weight: bold;
}

.fw-400 {
	font-weight: 400;
}

.fz-12 {
	font-size: 12px;
}

.fz-16 {
  font-size: 16px;
}

.fz-20 {
  font-size: 20px;
}

.fz-22 {
  font-size: 22px;
}

.fz-24 {
  font-size: 24px;
}

.fz-26 {
  font-size: 26px;
}

.fz-28 {
  font-size: 28px;
}

.fz-30 {
  font-size: 30px;
}

.fz-32 {
  font-size: 32px;
}

.fz-34 {
  font-size: 34px;
}

.fz-36 {
  font-size: 36px;
}

.fz-40 {
  font-size: 40px;
}

.fz-42 {
  font-size: 42px;
}

.fz-44 {
  font-size: 44px;
}

.fz-48 {
  font-size: 48px;
}

.fz-56 {
  font-size: 56px;
}

.fz-60 {
  font-size: 60px;
}

.fz-64 {
  font-size: 64px;
}

.fz-72 {
  font-size: 72px;
}

.ml-4 {
	margin-left: 4px;
}

.ml-8 {
	margin-left: 8px;
}

.mt-8 {
	margin-top: 8px;
}

.mt-16 {
	margin-top: 16px;
}

.d-block {
	display: block;
}

.c-red {
	color: #fe182c;
}

.lh-normal {
  line-height: 1;
}

.lh-medium {
  line-height: 1.375;
}

.lh-44 {
  line-height: 44px;
}

.tac {
  text-align: center;
}
.tal {
  text-align: left;
}

.white {
  color: #fff;
}


@font-face {
  font-family: 'DINPro-Medium';
  src: url('https://resource/DINPro-Medium.ttf');
}
@font-face {
  font-family: AlipayNumber-Regular;
  src: url(/images/AlipayNumber-Regular-201809141106.ttf);
}
@font-face {
  font-family: 'DINPro-Medium';
  src: url('https://resource/DINPro-Medium.ttf');
}

@font-face {
  font-family: AlipayNumber-Black;
  src: url('https://gw.alipayobjects.com/os/bmw-prod/21a8ad22-c068-4fd2-beec-a1c6bb89cd39.otf');
}

@font-face {
  font-family: Alibaba-PuHuiTi;
  src: url('https://gw.alipayobjects.com/os/bmw-prod/e5e65c3e-cc80-478b-99da-6e70311d406b.otf');
}

page {
  flex: 1;
  display: flex;
  background-color: white;
}

.container {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #f9f9f9;
  word-break: break-word;
}

.detail-main-box {
  display: flex;
  flex-direction: column;
}

.main-box {
  display: flex;
  flex-direction: column;
  margin: 0px 32px 20px 32px;
}

.empty-box {
  text-align: center;
  margin-top: 50%;
}

.empty-image {
  width: 200px;
  height: 200px;
  background-size: 100% 100%;
}

.card-box {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 24px;
  box-shadow: 0 2px 24px 0px rgba(0, 0, 0, 0.05);
}

.card-cover {
  background-size: cover;
  height: 340px;
  margin-bottom: 10px;
}

.card-sponsor {
  margin: 26px 30px 0px 30px;
  font-size: 24px;
  color: #f24724;
}

.prize-box {
  display: flex;
  margin: 16px 30px 0px 30px;
  align-items: flex-end;
  font-size: 34px;
  color: #333;
}

.prize-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.prize-count {
  margin-left: 16px;
  flex: 1;
}

.card-clause {
  display: flex;
  margin: 16px 30px 32px 30px;
  align-items: flex-end;
  font-size: 26px;
  color: #999999;
  line-height: 28px;
}

.action-box {
  z-index: 3;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
}

.action {
  height: 88px;
  line-height: 88px;
  margin: 16px 32px;
  font-size: 36px;
  color: #fff;
  background-color: rgba(255, 60, 44, 1);
  border: none;
}

/*
依次: iPhone  XS Max, iPhone XS, XR
参考: https://stackoverflow.com/questions/52321212/iphone-xr-xs-xs-max-css-media-queries */

@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3),
  only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3),
  only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  .g-iphonex-top {
    height: 50px;
    /* min-height: 24px;
    height: env(safe-area-inset-top); */
    flex: 0 0 auto;
  }

  .g-iphonex-margin-top {
    margin-top: 24px;
    flex: 0 0 auto;
  }

  .g-iphonex-bottom {
    visibility: hidden;
    min-height: 34px;
    height: env(safe-area-inset-bottom);
  }
}

/* common */

.l-page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background: #f7f7f7;
  flex: 1;
  color: #333;
}

/* 1像素横线，顶部左侧由32px缺口 */

.l-line-indent-tl {
  background-image: -webkit-linear-gradient(-90deg, #fff, #fff) top left
      no-repeat,
    -webkit-linear-gradient(90deg, #fff, #fff) bottom left no-repeat,
    -webkit-linear-gradient(-90deg, #eee, #eee 33%, transparent 33%) top left no-repeat,
    -webkit-linear-gradient(90deg, #eee, #eee 33%, transparent 33%) bottom left no-repeat,
    #fff;
  background-image: linear-gradient(180deg, #fff, #fff) top left no-repeat,
    linear-gradient(0deg, #fff, #fff) bottom left no-repeat,
    linear-gradient(180deg, #eee, #eee 33%, transparent 33%) top left no-repeat,
    linear-gradient(0deg, #eee, #eee 33%, transparent 33%) bottom left no-repeat,
    #fff;
  -webkit-background-size: 32px 1px, 32px 32px, 100% 1px, 100% 0px;
  background-size: 32px 1px, 32px 32px, 100% 1px, 100% 0px;
}

/* 1像素横线，底部左侧由32px缺口 */

.l-line-indent-bl {
  background-image: -webkit-linear-gradient(-90deg, #fff, #fff) top left
      no-repeat,
    -webkit-linear-gradient(90deg, #fff, #fff) bottom left no-repeat,
    -webkit-linear-gradient(-90deg, #eee, #eee 33%, transparent 33%) top left no-repeat,
    -webkit-linear-gradient(90deg, #eee, #eee 33%, transparent 33%) bottom left no-repeat,
    #fff;
  background-image: linear-gradient(180deg, #fff, #fff) top left no-repeat,
    linear-gradient(0deg, #fff, #fff) bottom left no-repeat,
    linear-gradient(180deg, #eee, #eee 33%, transparent 33%) top left no-repeat,
    linear-gradient(0deg, #eee, #eee 33%, transparent 33%) bottom left no-repeat,
    #fff;
  -webkit-background-size: 32px 0px, 32px 32px, 100% 0px, 100% 1px;
  background-size: 32px 0px, 32px 32px, 100% 0px, 100% 1px;
}

/* 底部线：无缺口 */

.l-line-b {
  background-image: -webkit-linear-gradient(-90deg, #fff, #fff) top left
      no-repeat,
    -webkit-linear-gradient(90deg, #fff, #fff) bottom left no-repeat,
    -webkit-linear-gradient(-90deg, #eee, #eee 33%, transparent 33%) top left no-repeat,
    -webkit-linear-gradient(90deg, #eee, #eee 33%, transparent 33%) bottom left no-repeat,
    #fff;
  background-image: linear-gradient(180deg, #fff, #fff) top left no-repeat,
    linear-gradient(0deg, #fff, #fff) bottom left no-repeat,
    linear-gradient(180deg, #eee, #eee 33%, transparent 33%) top left no-repeat,
    linear-gradient(0deg, #eee, #eee 33%, transparent 33%) bottom left no-repeat,
    #fff;
  -webkit-background-size: 0px 0px, 0px 0px, 100% 0px, 100% 1px;
  background-size: 0px 0px, 0px 0px, 100% 0px, 100% 1px;
}

/* 顶部线：无缺口 */

.l-line-t {
  background-image: linear-gradient(180deg, #fff, #fff) top left no-repeat;
  background-size: 0px 1px, 0px 0px, 100% 1px, 100% 0px;
}

/* flex */

.l-flex {
  display: flex;
}

.l-flex-v {
  display: flex;
  flex-direction: column;
}

.l-flex-1 {
  flex: 1;
}

.l-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: normal !important;
}

.l-flex-align-center {
  display: flex;
  align-items: center;
  line-height: normal !important;
}

.l-flex-0 {
  flex: 0 0 auto;
}

/* bottom button */

.l-bottom-wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  /* fix: 小程序bug, textarea比按钮高度高 */
  z-index: 4;
}

.l-btn-wrap {
  box-sizing: border-box;
  height: 128px;
  padding: 20px 32px;
  display: flex;
  align-items: stretch;
}

.l-btn-wrap > .l-btn {
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  flex: 1;
}

.l-btn-wrap > .l-btn.sub {
  background: rgba(255, 60, 44, 0.08);
  color: #ff3c2c;
}

.l-btn-wrap > .l-btn.main {
  background: #ff3c2c;
  color: #fff;
}

.l-hair-line {
  flex: 0 0 auto;
  background-color: #eee;
  max-height: 1px;
  min-height: 1px;
  height: 1px;
  transform: scaleY(0.5);
}

.l-list-hover {
  background-color: #f8f8f8;
}

.l-break-all {
  word-break: break-all;
  white-space: pre-wrap;
}

.l-btn-override {
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  border-radius: 0;
  border: none;
}

/* 后续按钮复用逻辑需要添加到这边 */
.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88px;
  background-color: var(--primary-color);
  border-radius: 8px;
  font-size: 32px;
  font-weight: bold;
  color: var(--white-color);
}

/* 心愿金按钮 */
.btn-primary-gold {
  border-radius: 16px;
  height: 100px;
  color: #fff8c7;
  font-size: 36px;
}

.btn-primary.btn-primary--disabled {
  background: #999;
  color: #fff;
}

.btn-primary.btn-primary--linear {
  background-image: linear-gradient(90deg, #FE7B43 0%, #FE2531 100%);
}

/* text-color-xxxx */
:root {
  --primary-color: #ec171f;
  --white-color: #fff;
}

.tc-f {
  color: #fff;
}

.tc-0 {
  color: #000;
}

.tc-1b {
  color: #1b1b1b;
}

.tc-1b {
  color: #1b1b1b;
}

.tc-3 {
  color: #333;
}

.tc-6 {
  color: #666;
}

.tc-9 {
  color: #999;
}

.tc-c {
  color: #ccc;
}

.tc-f6 {
  color: #f6f6f6;
}

.tc-primary {
  color: var(--primary-color);
}

.tc-primary-op10 {
  color: rgba(326, 23, 31, 0.1);
}

.tc-primary-op5 {
  color: rgba(326, 23, 31, 0.05);
}

.tc-primary-2 {
  color: #e88839;
}

.tc-primary-2-op10 {
  color: rbga(232, 163, 57, 0.1);
}

.tc-pink {
  color: #ffebec;
}

.tc-brown {
  color: #fee2d3;
}

.tc-red2 {
  color: #f95117;
}

.tc-red3 {
  color: #ff343d;
}

.tc-yellow {
  color: #f7ff00;
}

.tc-yellow2 {
  color: #fff8c7;
}

.tc-yellow2 {
  color: #ffd800;
}

/* background */
.bg-linear {
  background-image: linear-gradient(90deg, #FE7B43 0%, #FE2531 100%);
}

.bg-linear2 {
  background-image: linear-gradient(90deg, #ffc102 0%, #ff4100 100%);
}


@keyframes popFloat {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  50%,
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 延迟3s展示 */
.delay-show {
  animation: just-show 3s linear;
}

@keyframes just-show {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}